body {
  font-family: "Overpass Light", "Arial";
}

thead {
  background-color: darkred;
  color: white;
}

table {
  font-family: "Overpass Light", "Arial";
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 2px solid black;
  padding: 8px;
  border-collapse: collapse;
}
