## Discovered Application Types

{# to get total apps we subtract 2 from the total to account for built-in "all" and "ungrouped" #}
**Total Number of Discovered Applications**: {{ groups | dict2items | length() - 2 }}

| Application Name | Number of Associated Servers |
| --- | --- |
{% for app in groups | dict2items %}
{% if app.key != 'all' and app.key != 'ungrouped' %}
{# we do the regex_replace stuff to fix any groups that get transformed due to invalid group names #}
| [{{ app.key | regex_replace('_', ' ') }}](#{{ app.key | regex_replace('_', ' ') | regex_replace('\s', '-') | lower() }}) | {{ app.value | length() }} |
{% endif %}
{% endfor %}

## Servers By Application Type

{% for app in groups | dict2items %}
{% if app.key != 'all' and app.key != 'ungrouped' and app.value | length > 0 %}
### {{ app.key | regex_replace('_', ' ') }}

There {% if app.value | length > 1 %}were **{{ app.value | length }} servers**{% else %}was **1 server**{% endif %} found to be running {{ app.key | regex_replace('_', ' ') }}:

| Hostname | FQDN | IPv4 Address |
| --- | --- | --- |
{% for host in app.value %}
| [{{ host | lower() }}](#{{ host | lower }}) | {{ hostvars[host]['discovered_facts']['fqdn'] }} | {{ hostvars[host]['discovered_facts']['default_ipv4']['address'] }} |
{% endfor %}


{% endif %}
{% endfor %}


## All Discovered Servers

{# following line does -1 to account for localhost target #}
**Total number of servers discovered:** {{ groups['all'] | length -1 }}

| Hostname | FQDN | IPv4 Address |
| --- | --- | --- |
{% for host in groups['all'] %}
{% if host != 'localhost' %}
| [{{ host | lower() }}](#{{ host | lower }}) | {{ hostvars[host]['discovered_facts']['fqdn'] | lower() }} | {{ hostvars[host]['discovered_facts']['default_ipv4']['address'] }} |
{% endif %}
{% endfor %}


## Discovered Host Details

{% for host in groups['all'] %}
{% if host != 'localhost' %}
### {{ host | lower() }}
#### {{ host | lower() }}'s Server Details

| Hostname | FQDN | IPv4 Address |
| --- | --- | --- |
| {{ host | lower() }} | {{ hostvars[host]['discovered_facts']['fqdn'] | lower() }} | {{ hostvars[host]['discovered_facts']['default_ipv4']['address'] }} |

#### {{ host | lower() }}'s System Resources

| CPU Count | CPU Cores | CPU Type | RAM (MB) | RAM (GB) | Swap (MB) | Swap (GB) |
| --- | --- | --- | --- | --- | --- | --- |
| {{ hostvars[host]['discovered_facts']['processor_count'] }} | {{ hostvars[host]['discovered_facts']['processor_cores'] }} | {{ hostvars[host]['discovered_facts']['processor'] }} | {{ hostvars[host]['discovered_facts']['memtotal_mb'] }} | {{ hostvars[host]['discovered_facts']['memtotal_mb'] | int() / 1024 }} | {{ hostvars[host]['discovered_facts']['swaptotal_mb'] }} | hostvars[host]['discovered_facts']['swaptotal_mb'] | int() / 1024 }} |



#### {{ host | lower() }}'s Storage Resources

| Mount Point | Disk Size Total (MB) | Disk Size Total (GB) | Disk Size Free (MB) | Disk Size Free (GB) | Filesystem Type | System Device |
| --- | --- | --- | --- | --- | --- | --- |
{% for mount in hostvars[host]['discovered_facts']['mounts'] %}
{% if 'proc' not in mount['fstype'] and 'nfs' not in mount['fstype'] %}
| {{ mount['mount'] }} | {{ mount['size_total'] | default(0) | int() / 1024 / 1024 }} | {{ mount['size_total'] | default(0) | int() / 1024 / 1024 / 1024 }} | {{ mount['size_available'] | default(0) | int() / 1024 / 1024 }} | {{ mount['size_available'] | default(0) | int() / 1024 / 1024 / 1024 }} | {{ mount['fstype'] }} | {{ mount['device'] }} |
{% endif %}
{% endfor %}


{% endif %}
{% endfor %}
